@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css)
.macro-padding {margin-left: 5px; margin-top: 5px; margin-right: 5px; padding-left: 5px; padding-top: 5px;
  padding-right: 5px; border-left: 5px; border-top: 5px; border-right: 5px;}
.no-padding {padding-left: 1px; padding-top: 0px; padding-right: 1px; }
.small-margin { margin-top: 10px; }
.large-margin { margin-top: 15px; }
.contact-info { width:100% }
.profile-picture { height: 200px; margin-left:5px }
.publication { margin-bottom: 20px; margin-top: 10px;	}
.project-thumbnail {padding-left: 0px; padding-top: 2px; }
.project-description {padding-left: 0px; padding-right: 0px}
.firstname-lastname {margin: 0px}
.bibtex {padding-left: 0px}
.bibtex>div>pre {font-size: 80%}
.publications {padding-right:0px}
body {background-color: #d9d9d9}
.container-highlighted {
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  border-radius: 7px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width:92%;
  max-width: 690px;
 }
.collapsing {
  -webkit-transition: none;
  transition: none;
}
